<%= form_for [@personnel, dependent] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :relationship, "Relationship" %>
    <%= f.text_area :relationship %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>