<%= form_with(model: dependent, local: true) do |form| %>
  <% if dependent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependent.errors.count, "error") %> prohibited this dependent from being saved:</h2>

      <ul>
      <% dependent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dependent_name %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.text_field :relationship, id: :dependent_relationship %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :dependent_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
